/* Хлебные крошки */
.breadcrumbs { color: #888; font-size: 12px; font-weight: var(--font-weight-normal); margin-top: 30px; }
.breadcrumbs ul { display: flex; flex-wrap: wrap; }
.breadcrumbs ul li:not(:last-child) { margin-right: 10px; padding-right: 13px; position: relative; }
.breadcrumbs ul li:not(:last-child):after { content: ">"; position: absolute; right: 0; }
.breadcrumbs a { color: var(--color-white); }
.breadcrumbs a:hover { color: var(--color-orange); }
.breadcrumbs + div { margin-top: 70px; }

/* Контакты */
.contacts .contacts__wrapp { display: flex; align-items: center; }
.contacts .contacts__content { width: 32%; padding-right: 40px; }
.contacts .contacts__map { width: 68%; height: 360px; border-radius: 22px; overflow: hidden; }
.contacts .contacts__map .ymaps-2-1-79-ground-pane { -webkit-filter: invert(80%) grayscale(var(--100-percent)); -moz-filter: invert(80%) grayscale(var(--100-percent)); -o-filter: invert(80%) grayscale(var(--100-percent)); filter: invert(80%) grayscale(var(--100-percent)); }
.contacts .contacts__map .ymaps-2-1-79-map-copyrights-promo { display: none; }
.contacts .contacts__list { font-size: 15px; font-weight: 600; }
.contacts .contacts__list p { padding-left: 35px; position: relative; }
.contacts .contacts__list p:before { content: ""; position: absolute; left: 0; top: -3px; width: 22px; height: 22px; }
.contacts .contacts__list p + p { margin-top: 30px; }
.contacts .contacts__list .address:before { background: url(../img/icons/address.svg) center no-repeat; }
.contacts .contacts__list .email:before { background: url(../img/icons/email.svg) center no-repeat; }
.contacts .contacts__list .phone:before { background: url(../img/icons/phone.svg) center no-repeat; }
.contacts .contacts__list .phone span { display: block; color: #848484; font-size: 14px; font-weight: var(--font-weight-semibold); margin-top: 8px; }
.contacts .contacts__list a:hover { color: var(--color-orange); }
.contacts .contacts__socials { margin-top: 40px; padding-left: 35px; }

/* Консультация */
.consultation { margin-top: 80px; }
.consultation .consultation__wrapp { border-radius: 24px; background: var(--color-white); padding: 35px 60px; display: flex; align-items: center; position: relative; z-index: 1; }
.consultation .title h2 { color: var(--color-orange); }
.consultation .title p { color: #1E1D1D; }
.consultation .consultation__form { width: var(--50-percent); padding-right: 20px; }
.consultation .consultation__form form { max-width: 360px; }
.consultation .consultation__form .btn { width: var(--100-percent); }
.consultation .consultation__image { font-size: var(--size-0); padding-left: 20px; text-align: center; width: var(--50-percent); }
.consultation .consultation__image img { max-width: var(--100-percent); }

@media screen and (max-width: 1279px) {
  .breadcrumbs { margin-top: 25px; }
  .breadcrumbs + div { margin-top: 65px; }
  .contacts .contacts__content { width: 36%; padding-right: 30px; }
  .contacts .contacts__map { width: 64%; height: 340px; border-radius: 20px; }
  .contacts .contacts__list p + p { margin-top: 25px; }
  .contacts .contacts__socials { margin-top: 35px; }
  .consultation .consultation__wrapp { border-radius: 20px; padding: 30px 50px; }
  .consultation .consultation__form form { max-width: 320px; }
}
@media screen and (max-width: 991px) {
  .breadcrumbs { margin-top: 20px; }
  .breadcrumbs + div { margin-top: 60px; }
  .contacts .contacts__content { width: 40%; }
  .contacts .contacts__map { width: 60%; height: 320px; border-radius: 18px; }
  .contacts .contacts__list p + p { margin-top: 20px; }
  .contacts .contacts__socials { margin-top: 35px; padding-left: 35px; }
  .consultation .consultation__wrapp { padding: 30px 40px; }
  .consultation .consultation__form form { max-width: 280px; }
}
@media screen and (max-width: 767px) {
  .breadcrumbs { margin-top: 15px; }
  .breadcrumbs + div { margin-top: 55px; }
  .contacts .contacts__wrapp { display: block; }
  .contacts .contacts__content { width: var(--100-percent); padding: 0 0 40px; }
  .contacts .contacts__map { width: var(--100-percent); height: 380px; border-radius: 16px; }
  .contacts .contacts__socials { margin-top: 30px; }
  .consultation .consultation__wrapp { padding: 30px; display: block; }
  .consultation .consultation__form { width: var(--100-percent); padding: 0; }
  .consultation .consultation__form form { max-width: var(--100-percent); }
  .consultation .consultation__image { padding: 50px 0 0; width: var(--100-percent); }
}
@media screen and (max-width: 574px) {
  .consultation .consultation__wrapp { padding: 30px 20px; }
}
@media screen and (max-width: 424px) {
  .consultation { margin-top: 60px; }
}