/* Модальные окна */
.fancybox-bg { background: #000; }
.fancybox-is-open .fancybox-bg { opacity: 0.6; }

.modal { padding: 40px 40px 48px; border-radius: 10px; background: #1E1D1D; width: var(--100-percent); max-width: 420px; }
.modal .modal__header { margin-bottom: 30px; }
.modal .modal__info { font-size: 17px; font-weight: var(--font-weight-light); line-height: 1.4; }
.modal form .btn { width: var(--100-percent); }

/* Основные стили карусели */
.title-controls { display: flex; align-items: baseline; justify-content: space-between; }
.title-controls .owl-nav { margin-left: 20px; position: relative; top: 4px; }

.owl-nav { display: flex; align-items: center; }
.owl-nav .owl-prev, .owl-nav .owl-next { display: block; width: 24px; height: 24px; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.owl-nav .owl-prev { background: url(../img/icons/arrow-prev.svg) center center no-repeat; background-size: contain; }
.owl-nav .owl-prev:hover { background: url(../img/icons/arrow-prev-h.svg) center center no-repeat; background-size: contain; }
.owl-nav .owl-next { background: url(../img/icons/arrow-next.svg) center center no-repeat; background-size: contain; margin-left: 15px; }
.owl-nav .owl-next:hover { background: url(../img/icons/arrow-next-h.svg) center center no-repeat; background-size: contain; }

/* Футер */
.footer { background: #2B2A2A; margin-top: 120px; position: relative; z-index: 1; }
.footer .btn-secondary { background: #2B2A2A; }
.footer .footer__top { padding: 45px 0; position: relative; display: flex; align-items: center; justify-content: space-between; }
.footer .footer__logo { font-size: var(--size-0); width: 175px; margin-right: 20px; }
.footer .footer__logo img { max-width: var(--100-percent); }
.footer .footer__nav { font-size: 15px; font-weight: var(--font-weight-normal); margin: 0 20px; }
.footer .footer__nav ul { display: flex; }
.footer .footer__nav li + li { margin-left: 48px; }
.footer .footer__nav a:hover { color: var(--color-orange); }
.footer .footer__button { margin-left: 20px; }
.footer .footer__button .btn { width: var(--100-percent); }
.footer .footer__bottom { border-top: 1px solid #4A4747; padding: 45px 0; display: flex; justify-content: space-between; }
.footer .footer__bottom .footer__button { display: none; }
.footer .footer__copy { font-size: 15px; font-weight: var(--font-weight-normal); order: -1; }
.footer .footer__phones { margin: 0; text-align: right; }
.footer .footer__socials { margin: 20px 0 0; }
.footer .footer__socials ul { justify-content: flex-end; margin: 0; }
.footer .footer__socials ul li { margin: 0; }
.footer .footer__socials ul li + li { margin-left: 20px; }

@media screen and (max-width: 1279px) {
  .title { margin-bottom: 45px; }
  .title h1, .title h2 { font-size: 50px; }
  .title h4 { font-size: 38px; }
  .title h6 { font-size: 23px; }
  .title-controls .owl-nav { top: 3px; }
  .btn { font-size: 14px; }
  .container { max-width: 992px; }
  .header { padding: 30px 0; }
  .header .header__logo { width: 160px; }
  .header .header__nav { font-size: 14px; }
  .header .header__nav li + li { margin-left: 40px; }
  .footer .footer__logo { width: 160px; }
  .footer .footer__nav { font-size: 14px; }
  .footer .footer__nav li + li { margin-left: 40px; }
  .footer .footer__copy { font-size: 14px; }
}
@media screen and (max-width: 991px) {
  .content { font-size: 17px; }
  .title { margin-bottom: 40px; }
  .title h1, .title h2 { font-size: 44px; }
  .title h4 { font-size: 34px; }
  .title h6 { font-size: 22px; }
  .btn { padding: 12px 25px; }
  .header { padding: 28px 0; }
  .header .header__logo { width: 120px; }
  .header .header__nav li + li { margin-left: 25px; }
  .footer { margin-top: 120px; }
  .footer .footer__logo { width: 120px; }
  .footer .footer__nav li + li { margin-left: 25px; }
}
@media screen and (max-width: 767px) {
  .title { margin-bottom: 35px; }
  .title h1, .title h2 { font-size: 38px; }
  .title h4 { font-size: 30px; }
  .title h6 { font-size: 21px; }
  .title p { font-size: 16px; }
  .title-controls .owl-nav { top: 3px; }
  .btn { font-size: 15px; }
  .form-control { height: 42px; font-size: 14px; }
  textarea.form-control { padding: 15px 20px; }
  .topline { display: none; }
  .header { padding: 26px 0; }
  .header .header__logo { width: 140px; }
  .header .header__nav { display: none; }
  .header .header__button { display: none; }
  .header .header__phone { display: block; }
  .footer { margin-top: 100px; }
  .footer .footer__top { display: block; text-align: center; }
  .footer .footer__logo { width: var(--100-percent); margin: 0; }
  .footer .footer__logo img { max-width: 140px; }
  .footer .footer__nav { margin: 30px 0; }
  .footer .footer__nav ul { justify-content: center; }
  .footer .footer__nav li + li { margin-left: 25px; }
  .footer .footer__button { margin: 0; }
  .footer .footer__button .btn { min-width: 160px; width: auto; }
  .modal { padding: 35px 35px 42px; }
  .modal .modal__header { margin-bottom: 25px; }
  .modal .modal__info { font-size: 16px; }
}
@media screen and (max-width: 574px) {
  .content { font-size: 16px; }
  .title { margin-bottom: 30px; }
  .title h1, .title h2 { font-size: 32px; }
  .title h4 { font-size: 26px; }
  .title h6 { font-size: 20px; }
  .header { padding: 24px 0; }
  .footer { margin-top: 80px; }
  .footer .footer__top .footer__button { display: none; }
  .footer .footer__nav { margin-bottom: 0; }
  .footer .footer__nav ul { display: block; }
  .footer .footer__nav li + li { margin: 15px 0 0; }
  .footer .footer__bottom { display: block; text-align: center; margin: 0; padding: 0 0 45px; border: 0; }
  .footer .footer__bottom .footer__button { display: block; margin-top: 40px; }
  .footer .footer__phones { text-align: center; }
  .footer .footer__socials ul { justify-content: center; }
  .footer .footer__copy { margin-top: 40px; }
  .modal { padding: 35px 30px 42px; }
}
@media screen and (max-width: 424px) { 
  .title h1, .title h2 { font-size: 24px; }
  .title h4 { font-size: 20px; }
  .modal { padding: 35px 20px 42px; }
}
@media screen and (min-width: 768px) { .openmenu { overflow: auto !important; height: auto !important; position: static !important; } }